# Roblox/Studio & OS junk
*.rbxl
*.rbxlx
*.rbxm
*.rblx
*.rbt
*.rbxl.autosave
*.rbxl.lock
.svn/
.DS_Store
Thumbs.db
.vscode/
.idea/
# Rojo build artifacts
out/
# Node/python caches if you use tools
node_modules/
__pycache__/
rojo.exe
!_export/
!_export/index.json
